<!DOCTYPE html>
<html>
<head>
    <title>Select Emergency</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Step 2: Type of Emergency in {{ city }}</h2>
        <form action="/result">
            <input type="hidden" name="city" value="{{ city }}">
            <div class="options">
                <button name="type" value="Medical" class="btn-opt">🏥 Medical / Hospital</button>
                <button name="type" value="Fire" class="btn-opt">🔥 Fire Station</button>
            </div>
        </form>
        <br>
        <a href="/select_city">Back</a>
    </div>
</body>
</html>
